.footer {
    &__wrapper {
        border-top: 1px solid $color-title-border;
        background-color: $color-bacground-grey;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        font-size: 14px;
        line-height: 16px;
        color: $color-subtitle-text;
        opacity: 0.72;
        gap: 16px;
        padding-top: 16px;
        padding-bottom: 19px;
    }
}

@media (min-width:768px) {
    .footer {
        &__wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        &__copyright {
            text-align: left;
        }
        &__copyright-date {
            text-align: left;
        }
        &__no-offer {
            text-align: right;
            width: 330px;
        }
    }
}

@media (min-width:1120px) {
    .footer {
        &__wrapper {
            margin-left: 320px;
        }
    }
}