* {
    margin: 0;
    padding: 0;
}

.footer {
    &__wrapper {
        // margin-top: 40px;
        border-top: 1px solid #d9fff5;
        background-color: #f8f8f8;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        // font-family: 'TT Lakes';
        font-size: 14px;
        line-height: 16px;
        color: #7E7E82;
        opacity: 0.72;
        gap: 16px;
        padding-top: 16px;
        padding-bottom: 19px;
    }
    &__copyright {}
    &__copyright-date {}
    &__developer {}
    &__privacy {}
    &__no-offer {}
}

@media (min-width:768px) {
    .footer {
        &__wrapper {
            //float: left;
            // margin-left: 320px;
            // padding-left: 24px;
            // padding-right: 24px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        &__copyright {
            text-align: left;
        }
        &__copyright-date {
            text-align: left;
        }
        &__developer {}
        &__privacy {}
        &__no-offer {
            text-align: right;
            width: 330px;
        }
    }
}

@media (min-width:1120px) {
    .footer {
        &__wrapper {
            //float: left;
            margin-left: 320px;
        }
    }
}