@import '../../node_modules/swiper/swiper-bundle.css';
// @import '../../node_modules/swiper/swiper-element.css';
// @import '../../node_modules/swiper/swiper-element-bundle.css';
// @import '../../node_modules/swiper/.css';
.slider {
    &__brand,
    &__type {
        margin-bottom: 16px;
    }
    &__wrapper {
        margin-left: 16px;
        margin-bottom: 24px;
    }
    &__title {
        box-sizing: border-box;
        height: 80px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.20000000298023224px;
        text-align: left;
        padding: 16px;
        margin: 0;
        margin-bottom: 16px;
        color: #7e7e82;
        font-weight: 400;
        background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
        border-top: 1px solid #d9fff5;
    }
    &__items {
        margin-bottom: 32px;
    }
    &__item {
        width: 240px;
        height: 72px;
        list-style: none;
        margin: 0;
        padding: 0;
        margin-right: 16px;
        vertical-align: middle;
    }
    &__item--brand {
        // width: 240px;
        // height: 72px;
        // list-style: none;
        // margin: 0;
        // padding: 0;
        // border-radius: 6px;
        // margin-right: 16px;
    }
    &__item--type {
        height: 160px;
        width: 240px;
        border-radius: 6px;
        list-style: none;
        margin: 0;
        padding: 0;
        margin-right: 16px;
    }
    &__btn {
        display: inline-block;
        position: relative;
        box-sizing: border-box;
        width: inherit;
        height: inherit;
        border: 1px solid #eaeaea;
        border-radius: 6px;
        background: #ffffff;
        text-align: left;
        padding-top: 16px;
        padding-left: 16px;
        vertical-align: middle;
    }
    &__btn--brand {
        width: 240px;
        height: 160px;
        font-size: 16px;
        color: #1b1c21;
        line-height: 60px;
    }
    &__btn--type {
        width: 240px;
        height: 160px;
        font-size: 16px;
        color: #1b1c21;
    }
    &__btn::after {
        position: absolute;
        content: "";
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: white;
        border: 2px solid #ff3e79;
        right: 14px;
        bottom: 15px;
        background: url(../assets/img/slider_btn/dropdown.svg) no-repeat 15px 50%;
        transition-duration: 500ms;
    }
    &__btn:hover::after {
        border-color: #f0c8d4;
        background-color: #f0c8d4;
    }
    &__btn-show-more {
        display: none;
    }
    &__item--card {
        //к прайсу
        width: 260px;
        height: 200px;
    }
}

.prices {
    font-size: 14px;
    // font-family: TT Lakes;
    line-height: 18px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    &__title {
        margin-top: 16px;
        margin-bottom: 4px;
        line-height: 16px;
        letter-spacing: 0px;
        text-align: left;
        color: #7e7e82;
        font-weight: 400;
    }
    &__items {
        height: auto;
    }
    &__item {
        position: relative;
        background-color: #ffffff;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        width: 260px;
        height: 200px;
        padding: 16px;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        margin-right: 16px;
    }
    &__service-title {
        margin-top: 0;
    }
    &__service {
        margin: 0;
        padding: 0;
        margin-bottom: 16px;
    }
    &__price-title {}
    &__price {
        margin: 0;
        padding: 0;
        margin-bottom: 16px;
    }
    &__time-title {
        margin-top: auto;
        margin-bottom: 0;
    }
    &__time {
        margin: 0;
        padding: 0;
    }
    &__btn {
        //margin: 0;
        //padding: 0;
        // float: right;
        // font-size: 12px;
        text-transform: uppercase;
        letter-spacing: -0.15px;
        border: none;
        color: #FFFFFF;
        position: absolute;
        width: 119px;
        height: 32px;
        right: 16px;
        bottom: 16px;
        border-radius: 16px;
        background-color: #ff3e79;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
        border: 1px solid #ff3e79;
    }
    &__gloss {
        padding-left: 16px;
        padding-right: 16px;
    }
    &__text {
        color: #1b1c21;
    }
    &__proposal {
        margin-top: 24px;
        display: inline-block;
        position: relative;
        font-size: 16px;
        color: #1b1c21;
        font-weight: 600;
        letter-spacing: -0.2px;
    }
    &__proposal::after {
        content: "";
        position: absolute;
        background: url("/src/assets/img/slider_btn/dropdown.svg") no-repeat;
        width: 12px;
        height: 12px;
        transform: translate(10px, 3px);
        -webkit-transform: translate(10px, 3px);
        -moz-transform: translate(10px, 3px);
        -ms-transform: translate(10px, 3px);
        -o-transform: translate(10px, 3px);
    }
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #dddddd;
    &-active {
        background-color: #b5b6bc;
    }
}

// .swiper-pagination-bullet-active {
//     background-color: #b5b6bc;
// }
@media (min-width:768px) {
    body {
        min-width: 768px;
    }
    .slider {
        &__pagination {
            display: none;
        }
        &__title {
            padding-left: 24px;
            margin-bottom: 24px;
            background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
        }
        &__wrapper {
            margin-left: 24px;
        }
        &__items {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            padding: 0;
            margin-right: 24px;
            /* margin-right: 0px; */
            height: 160px;
            overflow: hidden;
        }
        &__items--show-all {
            height: auto;
            transition-property: height;
            transition-duration: 500ms;
        }
        &__item {
            margin: 0;
            width: 224px;
            margin-left: 0;
            margin-right: 24px;
            margin-bottom: 16px;
        }
        &__btn {
            background-position: 168px 50%;
        }
        &__btn-show-more {
            position: relative;
            display: block;
            margin-left: 40px;
            margin-top: 24px;
            border: none;
            background: none;
            font-size: 16px;
            padding: none;
        }
        &__btn-show-more::before {
            position: absolute;
            content: "";
            background-image: url(../assets/img/expand.svg);
            width: 24px;
            height: 24px;
            left: -24px;
            top: -2px;
        }
        &__btn-show-more.slider__btn-show-more--open::before {
            transform: rotate(180deg);
        }
    }
    .slider__prices {
        display: none;
    }
}

@media (min-width:1120px) {
    body {
        min-width: 1120px;
    }
    .slider {
        &__title {
            margin-bottom: 24px;
            padding-left: 32px;
            background: linear-gradient(-270deg, #F8F8F8 0%, #FFFFFF 98.61%);
            //background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
        }
        &__wrapper {
            margin-left: 32px;
        }
        &__items {
            /* margin-left: 32px; */
        }
        &__items--show-all {
            height: auto
        }
        &__item {
            width: 240px;
            margin-right: 32px;
        }
        &__btn {
            background-position: 184px 50%;
        }
    }
}